<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.eusi.alfred.twitchstreamer</string>
	<key>connections</key>
	<dict>
		<key>6F23080D-EAF4-458E-89F7-FA76D83BCDCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47CB62D4-D704-489C-A306-56CD76A1F208</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christoph Friegel</string>
	<key>description</key>
	<string>Check who is Streaming on twitch.tv and watch your favorite Stream via LiveStreamer on VLC.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TwitchStreamer v1.1</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>livestreamer {query} high</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>47CB62D4-D704-489C-A306-56CD76A1F208</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>runningsubtext</key>
				<string>Searching for streamers on twitch.tv ...</string>
				<key>script</key>
				<string>require('workflows.php');
require('search.php');

$in  = "{query}";
$w = new Workflows();
$s = search();

foreach ($s as $key =&gt; $sele) {
  if($in != "") {
    if(strpos( strtolower($sele['game']), strtolower($in)) === false)
		continue;
  }
  $w-&gt;result(    $key, 
				$sele['url'], 
				$sele['channel'] . '   -   ' . $sele['title'], 
				$sele['viewers'] . ' Viewers - ' . $sele['game'], 
				'icon.png',
				'yes' 
			);
}

if ( count( $w-&gt;results() ) == 0 ) {
	$w-&gt;result( '', '', 'Game not found or no one is playing it. Try another!', ':-(', 'icon.png', 'no' );
}

echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>List all the steamers who are online.</string>
				<key>title</key>
				<string>Search TwitchStreamer</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F23080D-EAF4-458E-89F7-FA76D83BCDCE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>47CB62D4-D704-489C-A306-56CD76A1F208</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>6F23080D-EAF4-458E-89F7-FA76D83BCDCE</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/eusi/alfred2-twitch-streamer</string>
</dict>
</plist>
