<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.eusi.alfred.twitchstreamer</string>
	<key>connections</key>
	<dict>
		<key>693753AB-8D7D-49B8-B1AE-EF6FE32AFD92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47CB62D4-D704-489C-A306-56CD76A1F208</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6F23080D-EAF4-458E-89F7-FA76D83BCDCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47CB62D4-D704-489C-A306-56CD76A1F208</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8CF1B7C5-96CE-4B5A-9F95-7462E4753234</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47CB62D4-D704-489C-A306-56CD76A1F208</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AC42EC64-23A5-4819-855C-5B744E106CF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93749124-28BB-4E7E-AD32-8B1CD790BE08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C79B81D0-BA17-4A68-BDDF-9F6AC2E7F520</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30D65DA2-C051-4A58-A336-24538354E4D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christoph Friegel</string>
	<key>description</key>
	<string>Check who is Streaming on twitch.tv and watch your favorite Stream via LiveStreamer on VLC.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TwitchStreamer v1.71</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for stream(s) on twitch.tv ...</string>
				<key>script</key>
				<string>require('workflows.php');
require('search.php');

//number of streams sorted by number of viewers descending (max 100)
$limit = 30; 
$q = urlencode( "{query}" );

$w = new Workflows();
$s = searchStream( $q, $limit );

if($s != null) {
	foreach ($s as $key =&gt; $sele) {
		$icon = checkCover( $sele['game'] );
    		$w-&gt;result(	'', 
					$sele['url'], 
					$sele['streamer'] . '   -   ' . $sele['title'], 
					$sele['viewers'] . ' Viewers - ' . $sele['game'], 
					$icon,
					'yes' 
				  );
	}
}
elseif( strlen( $q ) &lt; 3 ) {
	 $w-&gt;result( '', '', 'Please wait for result or make sure you have ' . 
              'typed in at least 3 letters.', 
              'Searching for stream(s) on twitch.tv ...','icon.png','no' );
}
else {
	 $w-&gt;result( '', '', 'No stream or game found! Try another!', 
     'Stream is probably offline or you made a typo.', 'icon.png', 'no' );
}
echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Search live streams on twitch.tv (game or channel).</string>
				<key>title</key>
				<string>Search Streams '...'</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8CF1B7C5-96CE-4B5A-9F95-7462E4753234</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>twtop</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for streams on twitch.tv ...</string>
				<key>script</key>
				<string>require('workflows.php');
require('search.php');

//number of streams sorted by number of viewers descending (max 100)
$limit = 30; 

$w = new Workflows();
$s = getTwitchStreams( $limit );

if($s != null) {
	foreach ($s as $key =&gt; $sele) {
		$icon = checkCover( $sele['game'] );
    		$w-&gt;result(	'', 
					$sele['url'], 
					$sele['streamer'] . '   -   ' . $sele['title'], 
					$sele['viewers'] . ' Viewers - ' . $sele['game'], 
					$icon,
					'yes' 
				  );
	}
}
else {
	 $w-&gt;result( '', '', 'No streams online? This is impossible!', 
                 'Either you or twitch.tv is offline! Check your ' .
                 'internet connection first.', 'icon.png', 'no' );
}

echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>List current TOP live streams on twitch.tv.</string>
				<key>title</key>
				<string>Show TOP Live Streams</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F23080D-EAF4-458E-89F7-FA76D83BCDCE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [ `which livestreamer` ]; then
  nohup livestreamer {query} high &amp;
elif [ `which mpv` ]; then
  nohup mpv {query} &amp;
fi</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>47CB62D4-D704-489C-A306-56CD76A1F208</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>twbygame</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for game on twitch.tv ...</string>
				<key>script</key>
				<string>require('workflows.php');
require('search.php');

//number of games sorted by viewers (max 100)
$limit = 15; 
$q = urlencode( "{query}" );

$w = new Workflows();
$s = searchGame($q, $limit);

if($s != null) {
	foreach ($s as $key =&gt; $sele) {
		$icon = checkCover( $sele['game'] );
    		$w-&gt;result(	'', 
					$sele['url'], 
					$sele['streamer'] . '   -   ' . $sele['title'], 
					$sele['viewers'] . ' Viewers - ' . $sele['game'], 
					$icon,
					'yes' 
				  );
	}
}
elseif( strlen( $q ) &lt; 3 ) {
	 $w-&gt;result( '', '', 'Please wait for result or make sure you have ' . 
              'typed in at least 3 letters.', 
              'Searching for stream(s) on twitch.tv ...','icon.png','no' );
}
else {
	 $w-&gt;result( '', '', 'No stream or game found! Try another!', 
     'Stream is probably offline or you made a typo.', 'icon.png', 'no' );
}
echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Search Game on twitch.tv.</string>
				<key>title</key>
				<string>Search Game</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>693753AB-8D7D-49B8-B1AE-EF6FE32AFD92</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Alfred 2" to search "twbygame " &amp; q
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>93749124-28BB-4E7E-AD32-8B1CD790BE08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>twgames</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for games on twitch.tv ...</string>
				<key>script</key>
				<string>require('workflows.php');
require('search.php');

//number of games sorted by viewers (max 100)
$limit = 15; 

$w = new Workflows();
$s = getTopGames($limit);

if($s != null) {
	foreach ($s as $key =&gt; $sele) {
		$icon = checkCover( $sele['game'] );
    		$w-&gt;result(	'', 
					$sele['game'], 
					$sele['game'], 
					'Viewers: ' . $sele['viewers'], 
					$icon, //'icon.png', 
					'yes',
					$sele['name']
				  );
	}
}
else {
	 $w-&gt;result( '', '', 'No streams online? This is impossible!', 
                 'Either you or twitch.tv is offline! Check your ' .
                 'internet connection first.', 'icon.png', 'no' );
}

echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>List current TOP streamed games on twitch.tv.</string>
				<key>title</key>
				<string>Show TOP streamed Games</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AC42EC64-23A5-4819-855C-5B744E106CF3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Downloaded game covers.</string>
				<key>title</key>
				<string>TwitchStreamer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>30D65DA2-C051-4A58-A336-24538354E4D0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>twcover</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching and downloading game icons/covers... Please wait it takes some time (about 1 minute)...</string>
				<key>script</key>
				<string>require('workflows.php');
require('search.php');

$w = new Workflows();
$g = getTwitchGames();

if($g != null) {
	$inc = 0;
	foreach ($g as $key =&gt; $gele) {
		if( checkingCovers( $gele['name'] ) ) {
			$inc++;
		}
	}
	 $w-&gt;result('', '', 'JOB´S DONE. '. $inc . ' game covers downloaded.',
                'Good job. You must not do this again! Unless you deleted'.
                ' ALL your downloaded covers.', 
			    'icon.png', 'yes' );
}
else {
	 $w-&gt;result( '', '', 'Error.', 
                 'Either you or twitch.tv is offline! Check your ' .
                 'internet connection first.', 'icon.png', 'no' );
}

echo $w-&gt;toxml();</string>
				<key>title</key>
				<string>Download Game Icons (optional)</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C79B81D0-BA17-4A68-BDDF-9F6AC2E7F520</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>keywords and description:
————————————————————————————————
twtop = top live streams on twitch.tv (sort by number of viewers)
twgames = top streamed games on twitch.tv (sort by number of viewers)
tw    = search for a specific stream (game or streamer/channel)

optional: 
twbygame = twgames uses it to search for streamer by specific game
twcover = search and download game icons/covers (do this, if you deleted your cover folder)


examples:
————————————————————————————————
‚twtop’

‚tw warcraft‘ (searches for streams of „world of warcraft“ or „warcraft3“ as well as streams of a streamer who is called like „warcraftBoy“ or its stream title contains „warcraft“)
 
‚twgames‘

‚twbygame League Of Legends‚ (searches for streams of „league of legends“ only)

‚twcover‘</string>
	<key>uidata</key>
	<dict>
		<key>30D65DA2-C051-4A58-A336-24538354E4D0</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>47CB62D4-D704-489C-A306-56CD76A1F208</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>693753AB-8D7D-49B8-B1AE-EF6FE32AFD92</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>6F23080D-EAF4-458E-89F7-FA76D83BCDCE</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>8CF1B7C5-96CE-4B5A-9F95-7462E4753234</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>93749124-28BB-4E7E-AD32-8B1CD790BE08</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>AC42EC64-23A5-4819-855C-5B744E106CF3</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C79B81D0-BA17-4A68-BDDF-9F6AC2E7F520</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/eusi/alfred2-twitch-streamer</string>
</dict>
</plist>
