<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.eusi.alfred.twitchstreamer</string>
	<key>connections</key>
	<dict>
		<key>6F23080D-EAF4-458E-89F7-FA76D83BCDCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A075C7E9-F64E-4E23-BC19-EF2E6F05A60C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CF1B7C5-96CE-4B5A-9F95-7462E4753234</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A075C7E9-F64E-4E23-BC19-EF2E6F05A60C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93749124-28BB-4E7E-AD32-8B1CD790BE08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40154537-D021-4D43-8D17-2B337F275F99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A075C7E9-F64E-4E23-BC19-EF2E6F05A60C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40154537-D021-4D43-8D17-2B337F275F99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC42EC64-23A5-4819-855C-5B744E106CF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93749124-28BB-4E7E-AD32-8B1CD790BE08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C79B81D0-BA17-4A68-BDDF-9F6AC2E7F520</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30D65DA2-C051-4A58-A336-24538354E4D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E05C407A-31AA-4544-8084-145C4A9E3B81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A075C7E9-F64E-4E23-BC19-EF2E6F05A60C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christoph Friegel</string>
	<key>description</key>
	<string>Check who is streaming on Twitch.tv and watch your favorite stream via Livestreamer on VLC or mpv.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TwitchStreamer v1.76</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>twtop</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for streams on twitch.tv ...</string>
				<key>script</key>
				<string>require('workflows.php');
require('search.php');

//number of streams sorted by number of viewers descending (max 100)
$limit = 30; 

$w = new Workflows();
$s = getTwitchStreams( $limit );

if($s != null) {
	foreach ($s as $key =&gt; $sele) {
		$icon = checkCover( $sele['game'] );
    		$w-&gt;result(	'', 
					$sele['url'], 
					$sele['streamer'] . '   -   ' . $sele['title'], 
					$sele['viewers'] . ' Viewers - ' . $sele['game'], 
					$icon,
					'yes' 
				  );
	}
}
else {
	 $w-&gt;result( '', '', 'No streams online? This is impossible!', 
                 'Either you or twitch.tv is offline! Check your ' .
                 'internet connection first.', 'icon.png', 'no' );
}

echo $w-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List current TOP live streams on twitch.tv.</string>
				<key>title</key>
				<string>Show TOP Live Streams</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F23080D-EAF4-458E-89F7-FA76D83BCDCE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>PATH="/usr/local/bin:$PATH"

if [ `which livestreamer` ]; then
  livestreamer --http-header Client-ID=pq1763hfd37807lw0z8pqum3isqr4hd {query} high
elif [ `which mpv` ]; then
  mpv {query}
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A075C7E9-F64E-4E23-BC19-EF2E6F05A60C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for stream(s) on twitch.tv ...</string>
				<key>script</key>
				<string>require('workflows.php');
require('search.php');

//number of streams sorted by number of viewers descending (max 100)
$limit = 30; 
$q = urlencode( "{query}" );

$w = new Workflows();
$s = searchStream( $q, $limit );

if($s != null) {
	foreach ($s as $key =&gt; $sele) {
		$icon = checkCover( $sele['game'] );
    		$w-&gt;result(	'', 
					$sele['url'], 
					$sele['streamer'] . '   -   ' . $sele['title'], 
					$sele['viewers'] . ' Viewers - ' . $sele['game'], 
					$icon,
					'yes' 
				  );
	}
}
elseif( strlen( $q ) &lt; 3 ) {
	 $w-&gt;result( '', '', 'Please wait for result or make sure you have ' . 
              'typed in at least 3 letters.', 
              'Searching for stream(s) on twitch.tv ...','icon.png','no' );
}
else {
	 $w-&gt;result( '', '', 'No stream or game found! Try another!', 
     'Stream is probably offline or you made a typo.', 'icon.png', 'no' );
}
echo $w-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search live streams on twitch.tv (game or channel).</string>
				<key>title</key>
				<string>Search Streams '...'</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8CF1B7C5-96CE-4B5A-9F95-7462E4753234</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>readonly local_file='info.plist' # Local file to compare to remote_file
readonly remote_file='https://raw.githubusercontent.com/eusi/alfred2-twitch-streamer/master/src/info.plist' # Remote file (URL) to compare to local_file
readonly workflow_url='https://raw.githubusercontent.com/eusi/alfred2-twitch-streamer/master/workflow/TwitchStreamer.alfredworkflow' # URL to directly download workflow or workflow download page
readonly workflow_type='workflow' # Either 'workflow' if workflow_url points to direct download, or 'page' if it points to download page
readonly frequency_check='15' # Days between update checks

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED UNLESS YOU KNOW WHAT YOU ARE DOING
function abort {
  echo "${1}" 1&gt;&amp;2
  exit 1
}

function url_exists {
  if curl --silent --location --output /dev/null --fail --range 0-0 "${1}"; then
    return 0
  else
    return 1
  fi
}

function notification {
  local readonly terminal_notifier="$(find . -name terminal-notifier.app)"

  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}"/Contents/MacOS/terminal-notifier -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
  else
    osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
  fi
}

# Local sanity checks
[[ ! -f "${local_file}" ]] &amp;&amp; abort "'local_file' ("${local_file}") appears to not point to an existing file."
[[ ! "${workflow_type}" =~ ^(workflow|page)$ ]] &amp;&amp; abort "'workflow_type' ("${workflow_type}") needs to be one of 'workflow' or 'page'."
[[ ! "${frequency_check}" =~ ^[0-9]+$ ]] &amp;&amp; abort "'frequency_check' ("${frequency_check}") appears to not be a number."

# Check for updates
if [[ $(find "${local_file}" -mtime +"${frequency_check}") ]]; then
  if ! url_exists "${remote_file}"; then abort "'remote_file' ("${remote_file}") appears to not be reachable."; fi # Remote sanity check
  
  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_file}"

  if [[ "$(diff "${local_file}" "${tmp_file}")" ]]; then
    if [[ "${workflow_type}" == 'page' ]]; then
      notification 'Opening download page…'
      open "${workflow_url}"
    else
      if url_exists "${workflow_url}"; then
        notification 'Downloading and installing…'
        curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${workflow_url}"
        open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
      else
        abort "'workflow_url' ("${workflow_url}") appears to not be reachable."
      fi # url_exists
    fi # workflow_type
  else
    touch "${local_file}" # Reset timer by touching local file
  fi # diff
fi #find</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>40154537-D021-4D43-8D17-2B337F275F99</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>twbygame</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for game on twitch.tv ...</string>
				<key>script</key>
				<string>require('workflows.php');
require('search.php');

//number of games sorted by viewers (max 100)
$limit = 15; 
$q = urlencode( "{query}" );

$w = new Workflows();
$s = searchGame($q, $limit);

if($s != null) {
	foreach ($s as $key =&gt; $sele) {
		$icon = checkCover( $sele['game'] );
    		$w-&gt;result(	'', 
					$sele['url'], 
					$sele['streamer'] . '   -   ' . $sele['title'], 
					$sele['viewers'] . ' Viewers - ' . $sele['game'], 
					$icon,
					'yes' 
				  );
	}
}
elseif( strlen( $q ) &lt; 3 ) {
	 $w-&gt;result( '', '', 'Please wait for result or make sure you have ' . 
              'typed in at least 3 letters.', 
              'Searching for stream(s) on twitch.tv ...','icon.png','no' );
}
else {
	 $w-&gt;result( '', '', 'No stream or game found! Try another!', 
     'Stream is probably offline or you made a typo.', 'icon.png', 'no' );
}
echo $w-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Game on twitch.tv.</string>
				<key>title</key>
				<string>Search Game</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E05C407A-31AA-4544-8084-145C4A9E3B81</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>--on alfred_script(q)
--try
--do shell script "osascript -e 'id of app \"Alfred 3\"'"
--tell application "Alfred 3" to search "twbygame " &amp; q
--end try
--end alfred_script


on alfred_script(q)


-- use Alfred 3 if exists, otherwise Alfred 2


set isAlfred3 to false
try
    do shell script "osascript -e 'id of app \"Alfred 3\"'"
    set isAlfred3 to true
end try


if isAlfred3 then
    tell application "Alfred 3" to search "twbygame " &amp; q
else 
    tell application "Alfred 2" to search "twbygame " &amp; q
end if


end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>93749124-28BB-4E7E-AD32-8B1CD790BE08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>twgames</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for games on twitch.tv ...</string>
				<key>script</key>
				<string>require('workflows.php');
require('search.php');

//number of games sorted by viewers (max 100)
$limit = 15; 

$w = new Workflows();
$s = getTopGames($limit);

if($s != null) {
	foreach ($s as $key =&gt; $sele) {
		$icon = checkCover( $sele['game'] );
    		$w-&gt;result(	'', 
					$sele['game'], 
					$sele['game'], 
					'Viewers: ' . $sele['viewers'], 
					$icon, //'icon.png', 
					'yes',
					$sele['name']
				  );
	}
}
else {
	 $w-&gt;result( '', '', 'No streams online? This is impossible!', 
                 'Either you or twitch.tv is offline! Check your ' .
                 'internet connection first.', 'icon.png', 'no' );
}

echo $w-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List current TOP streamed games on twitch.tv.</string>
				<key>title</key>
				<string>Show TOP streamed Games</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AC42EC64-23A5-4819-855C-5B744E106CF3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Downloaded game covers.</string>
				<key>title</key>
				<string>TwitchStreamer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>30D65DA2-C051-4A58-A336-24538354E4D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>twcover</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching and downloading game icons/covers... Please wait it takes some time (about 1 minute)...</string>
				<key>script</key>
				<string>require('workflows.php');
require('search.php');

$w = new Workflows();
$g = getTwitchGames();

if($g != null) {
	$inc = 0;
	foreach ($g as $key =&gt; $gele) {
		if( checkingCovers( $gele['name'] ) ) {
			$inc++;
		}
	}
	 $w-&gt;result('', '', 'JOB´S DONE. '. $inc . ' game covers downloaded.',
                'Good job. You must not do this again! Unless you deleted'.
                ' ALL your downloaded covers.', 
			    'icon.png', 'yes' );
}
else {
	 $w-&gt;result( '', '', 'Error.', 
                 'Either you or twitch.tv is offline! Check your ' .
                 'internet connection first.', 'icon.png', 'no' );
}

echo $w-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Download Game Icons (optional)</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C79B81D0-BA17-4A68-BDDF-9F6AC2E7F520</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>keywords and description:
————————————————————————————————
twtop = top live streams on twitch.tv (sorted by number of viewers)
twgames = top streamed games on twitch.tv (sorted by number of viewers)
tw    = search for a specific stream (game or streamer/channel)

optional: 
twbygame = twgames uses it to search for streamer by specific game
twcover = search and download game icons/covers (e.g. do this if you deleted your images folder)


examples:
————————————————————————————————
‚twtop’

‚tw warcraft‘ (searches for streams of „world of warcraft“ or „warcraft3“ as well as streams of a streamer who is called like „warcraftBoy“ or its stream title contains „warcraft“)
 
‚twgames‘

‚twbygame League Of Legends‚ (searches for streams of „league of legends“ only)

‚twcover‘</string>
	<key>uidata</key>
	<dict>
		<key>30D65DA2-C051-4A58-A336-24538354E4D0</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>40154537-D021-4D43-8D17-2B337F275F99</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>6F23080D-EAF4-458E-89F7-FA76D83BCDCE</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>8CF1B7C5-96CE-4B5A-9F95-7462E4753234</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>93749124-28BB-4E7E-AD32-8B1CD790BE08</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>A075C7E9-F64E-4E23-BC19-EF2E6F05A60C</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>AC42EC64-23A5-4819-855C-5B744E106CF3</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>C79B81D0-BA17-4A68-BDDF-9F6AC2E7F520</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>E05C407A-31AA-4544-8084-145C4A9E3B81</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.76</string>
	<key>webaddress</key>
	<string>https://github.com/eusi/alfred2-twitch-streamer</string>
</dict>
</plist>
